<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Lets start parsing and comparing some MUDs</h1>
        <form action = "http://localhost:5000/UploadAndCompare" method = "POST" enctype = "multipart/form-data">
            <label>Upload your first MUD</label>
            <input type = "file" name = "first_mud" />
            <br><br>
            <label>Upload your second MUD</label>
            <input type = "file" name = "second_mud" />
            <br><br>
            <input type = "submit"/>
        </form>
    </body>
</html>